nav {
  list-style-type: none;
  background-color: black;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 20px;
  font-stretch: condensed;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

li {
  display: inline;
  font-size: 14px;
  padding: 100px;
  font-family: "Inconsolata", sans-serif;
  text-align: center;
}

li:hover {
  background-color: lightgray;
  padding: 15px;
  padding-right: 100px;
  padding-left: 100px;
  font-weight: bold;
  text-align: center;
}

li:hover a{
  color: black
}

